@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?axcony') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?axcony') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?axcony##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.icon-fill-pause:before {
  content: "\e78e";
}

.icon-sort2:before {
  content: "\e839";
}

.icon-play:before {
  content: "\e613";
}

.icon-chevron-down:before {
  content: "\e7b2";
}

.icon-terminal:before {
  content: "\edff";
}

.icon-pause:before {
  content: "\e647";
}

.icon-edit:before {
  content: "\e61b";
}

.icon-trash:before {
  content: "\e620";
}

.icon-copy:before {
  content: "\e606";
}

.icon-gear:before {
  content: "\e629";
}

.icon-dot:before {
  content: "\e6a3";
}

.icon-delete:before {
  content: "\e601";
}

.icon-star-open:before {
  content: "\eebe";
}

.icon-user:before {
  content: "\e602";
}

.icon-external-link:before {
  content: "\e6d9";
}

.icon-star:before {
  content: "\e607";
}

.icon-download:before {
  content: "\e74d";
}

.icon-spinner:before {
  content: "\e756";
}

.icon-upload:before {
  content: "\e76b";
}

.icon-search:before {
  content: "\e7b3";
}

.icon-vertical-ellipsis:before {
  content: "\e604";
}

.icon-dot-open:before {
  content: "\e67e";
}

.icon-dot-half:before {
  content: "\e60e";
}

.icon--delete:before {
  content: "\efdd";
}

.icon-actions:before {
  content: "\efde";
}

.icon-list:before {
  content: "\e63c";
}

.icon-folder:before {
  content: "\efdb";
}

.icon-chevron-beginning:before {
  content: "\e76c";
}

.icon-error:before {
  content: "\e62e";
}

.icon-list-grouped:before {
  content: "\e81d";
}

.icon-fill-play:before {
  content: "\e72f";
}

.icon-fill-info:before {
  content: "\e730";
}

.icon-fill-stop:before {
  content: "\e738";
}

.icon-chevron-right:before {
  content: "\e743";
}

.icon-chevron-left:before {
  content: "\e744";
}

.icon-chevron-up:before {
  content: "\e745";
}

.icon-list-flat:before {
  content: "\e747";
}

.icon-x:before {
  content: "\e748";
}

.icon-code:before {
  content: "\e749";
}

.icon-info:before {
  content: "\e75e";
}

.icon-checkmark:before {
  content: "\e763";
}

.icon-warning:before {
  content: "\e76d";
}

.icon-circle-plus:before {
  content: "\e641";
}

.icon-logging:before {
  content: "\e69b";
}

.icon-file:before {
  content: "\e66a";
}

.icon-chevron-end:before {
  content: "\e600";
}

.icon-close:before {
  content: "\efdc";
}

.icon-plus:before {
  content: "\e664";
}

.icon-minus:before {
  content: "\e67a";
}

.icon-sort-up:before {
  content: "\e68a";
}

.icon-sort-down:before {
  content: "\e68b";
}

.icon-sort:before {
  content: "\e694";
}

